<div class="container">
	<div class="row">
		<div class="col-lg-12">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="http://lorempixel.com/100/100/people/9/">
                </div>
                <div class="info">
                    <div class="title">
                       {{checkuser.name }}
                    </div>
                    <div class="desc">Lives in {{checkuser.location}}</div>
                    <div class="desc">Occupation: {{checkuser.Occupation}}</div>
                    <div class="desc">{{{toage checkuser.dob }}} years</div>
                    <div class="desc">Budget range: {{{getbudget checkuser.budget }}} $</div>
                    <ul  style="list-style: none" class="desc"> Select the location to connect:
                            {{#each checkuser.location_pref}}
                            <li><a href="#myModal" data-location={{{getlocation this}}} data-toggle="modal">{{{ getlocation this}}}</a>
                                </li>
                                {{/each}}
                            </ul>
                </div>
               
            </div>

        </div>

	</div>
</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Hello! Let's Effugio to {{data-location}}?</p>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="{{{button}}}">Connect</button>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/public/js/checkprofile.js">
$('#myModal').on('show.bs.modal', function(e) {
        
            //get data-id attribute of the clicked element
            var location = $(e.relatedTarget).data('location');
            console.log("location on modal:: "+location)
        
            //populate the textbox
            // $(e.currentTarget).find('input[name="bookId"]').val(bookId);
        });
</script>
