<div class="container">
	<div class="row">
		<div class="col-lg-12">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="https://bootdey.com/img/Content/user_2.jpg">
                </div>
                <div class="info">
                    <div class="title">
                       {{checkuser.name }}
                    </div>
                    <div class="desc">Lives in {{checkuser.location}}</div>
                    <div class="desc">Occupation: {{checkuser.occupation}}</div>
                    <div class="desc">{{{toage checkuser.dob }}} years</div>
                    <div class="desc">Budget range: {{{getbudget checkuser.budget }}} $</div>
                    <ul  style="list-style: none" class="desc"> Select the location to connect:
                            {{#each checkuser.location_pref}}
                            <li><a href="#myModal" data-toggle="modal">{{{ getlocation this}}}</a>
                                </li>
                                {{/each}}
                            </ul>
                </div>
               
            </div>

        </div>

	</div>
</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Hello! Let's Effugio to ?</p>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick={{{button}}}>Connect</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
<script type="text/javascript" src="/public/js/checkprofile.js">

</script>
