
<h2 class="page-header">My Profile</h2>
{{#if hasErrors}}
      {{#each errors}}
        <div class="alert alert-danger">{{this}}</div>
      {{/each}}
{{/if}}
{{#if updSuccess}}
      <div class="alert alert-success">"Profile updated successfully"</div>
{{/if}}
<form method="post" action="/users/profile">
  <div class="form-group">
    <label for="name">Full Name</label>
    <input type="text" class="form-control" placeholder="Name" name="name" id="name" pattern="[A-Za-z' ]+" minlength="2" maxlength="80" value="{{user.name}}" disabled="disabled">
  </div>
  <input type="hidden" id="name2" name="name" value="{{user.name}}">
  <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" name="gender" id="gender" disabled="disabled">
          {{#select user.gender}}
          <option value="M">Male</option>
          <option value="F">Female</option>
          {{/select}}
        </select>
  </div>
  <input type="hidden" id="gender2" name="gender" value="{{user.gender}}">
  <div class="form-group"> <!-- Date input -->
    <label for="dob">Date of Birth</label>
        <input class="form-control" id="dob" name="dob" placeholder="MM/DD/YYY" type="text" value="{{user.dob}}" disabled="disabled">
  </div>
  <input type="hidden" name="dob" value="{{user.dob}}"> 
  <!--Commenting Age part
  <div class="form-group">
    <label for="age">Age</label>
    <input type="text" class="form-control" placeholder="Age" name="age" id="age" pattern="[1-9][0-9]" minlength="2" maxlength="2" value={{user.age}}>
  </div>
  
  <div class="form-group">
        <label for="location">Location</label>
        <select class="form-control" name="location" id="location">
          {{#select user.location}}
          <option value="Vegas">Vegas</option>
          <option value="New York">New York</option>
          <option value="Atlantic City">Atlantic City</option>
          <option value="Arizona">Arizona</option>
          <option value="Mount Rushmore">Mount Rushmore</option>
          {{/select}}
        </select>
  </div>-->
  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" class="form-control" placeholder="Location" name="location" id="location" minlength="2" maxlength="80" value="{{user.location}}">
  </div>
  <div class="form-group">
    <label for="occupation">Occupation</label>
    <!--
    <input type="text" class="form-control" placeholder="Occupation" name="occupation" id="occupation" pattern="[a-zA-Z]+[' -,]{0,1}[a-zA-Z]+" minlength="2" maxlength="80" value="{{user.occupation}}">
    -->
    <input type="text" class="form-control" placeholder="Occupation" name="occupation" id="occupation" minlength="2" maxlength="80" value="{{user.occupation}}">
  </div>
  <div class="form-group">
        <label for="orientation">Orientation</label>
        <select class="form-control" name="orientation" id="orientation" disabled="disabled">
          {{#select user.orientation}}
          <option value="S">Straight</option>
          <option value="G">Gay</option>
          <option value="L">Lesbian</option>
          {{/select}}
        </select>
  </div>
  <input type="hidden" id="orientation2" name="orientation" value="{{user.orientation}}">
  <div class="form-group">
    <label for="contact_info">Contact Information</label>
    <input type="text" class="form-control" placeholder="Phone: 9999999999" name="contact_info" id="contact_info" pattern="[1-9]{3}[0-9]{3}[0-9]{4}" minlength="10" maxlength="10" value="{{user.contact_info}}">
  </div>
  <div class="form-group">
    <label for="locationpref">Location Preferences</label>
    <select multiple class="form-control" id="locationpref" name="location_pref">
      {{#multiselect user.location_pref}}
        {{#if locations.length}}
          {{#each locations}}
            <option value="{{this._id}}">{{this.name}}</option>
          {{/each}}
        {{/if}}
      {{/multiselect}}
    </select>
  </div>
  <div class="form-group">
    <label for="budgetpref">Budget Preference</label>
    <select class="custom-select form-control" id="budgetpref" name="budget">
        {{#multiselect user.budget}}
          {{#if budgetranges.length}}
            {{#each budgetranges}}
              <option value="{{this.id}}">{{this.range}}</option>
            {{/each}}
          {{/if}}
        {{/multiselect}}  
    </select>
  </div>
  <div class="form-group">
    <label for="user_id">Username</label>
    <input type="text" class="form-control" placeholder="Username" name="user_id" id="user_id" pattern="[a-zA-Z1-9]+[_]{0,1}[a-zA-Z0-9]+" minlength="2" maxlength="50" value="{{user.user_id}}" disabled="disabled">
  </div>
  <input type="hidden" id="user_id2" name="user_id" value="{{user.user_id}}">
   <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" placeholder="Email" name="email" id="email" value="{{user.email}}">
  </div>
  <div class="form-group">
    <label for="newpassword">New Password</label>
    <input type="password" class="form-control" placeholder="Password" name="newPwd" id="newpassword" value="{{user.newPwd}}">
  </div>
  <div class="form-group">
    <label for="newpasswordconfirm">Confirm New Password</label>
    <input type="password" class="form-control" placeholder="Password" name="newPwdConfirm" id="newpasswordconfirm" value="{{user.newPwdConfirm}}">
  </div>
  <button type="submit" class="btn btn-default">Update Profile</button>
  <button type="reset" class="btn btn-default" value="Reset">Reset</button>
  <a href="#myModal" class="btn btn-default" data-toggle="modal">Delete my profile</a>
  

  <input type="hidden" id="userId" name="_id" value="{{user._id}}">
  <input type="hidden" id="userHashedPassword" name="hashedPassword" value="{{user.hashedPassword}}">

      
</form>

<div id="myModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete your profile from Effugio?</p>
                    <p class="text-warning"><small>If you do, all your data and connections will be removed</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a href="/users/delete/{{user._id}}" class="btn btn-primary" aria-hidden="true">Yes, I am sure</a>
                </div>
            </div>
        </div>
    </div>


{{!--Commented out previous code
<div class="jumbotron">
  <h1 class="display-3">Hello, {{user.username}}!</h1>
  <p class="lead">Welcome to your Profile Page</p>
  <hr class="my-4">
  <p>
User Name: {{user.user_id}}<br/>
Name: {{user.name }}<br/>
Age: {{user.age}}<br/></p>
Gender: {{user.gender}}<br/></p>
Profession: {{user.occupation}}<br/>
Location: {{user.location}}<br/>
orientation: {{user.orientation}}<br/>
Locations: {{user.location_pref}}<br/>
Connections: {{user.connections}}<br/>

  </p> 
</div>
--}}