<h2 class="page-header">Register</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<form method="post" action="/users/register">
   <div class="form-group">
    <label>Full Name</label>
    <input type="text" class="form-control" placeholder="Name" name="name" value={{ name }}>
  </div>
  <div class="form-group">
    <label>Gender</label>
    <select class="custom-select form-control" name="gender" value={{ gender }}>
      <option selected>Select Gender</option>
      <option value="M">Male</option>
      <option value="F">Female</option>
    </select>
  </div>
  <div class="form-group">
    <label>Age</label>
    <input type="text" class="form-control" placeholder="Age" name="age" value={{ age }}>
  </div>
  <div class="form-group">
    <label>Location</label>
    <input type="text" class="form-control" placeholder="Location" name="location" value={{ location }}>
  </div>
  <div class="form-group">
    <label>Occupation</label>
    <input type="text" class="form-control" placeholder="Occupation" name="occupation" value={{ occupation }}>
  </div>
  <div class="form-group">
    <label>Orientation</label>
    <select class="custom-select form-control" name="orientation" value={{ orientation }}>
      <option selected>{{ orientation }}</option>
      <option value="s">Straight</option>
      <option value="g">Gay</option>
      <option value="l">Lesbian</option>
    </select>
  </div>
  <div class="form-group">
    <label>Contact Information</label>
    <input type="text" class="form-control" placeholder="Contact Information" name="contactInformation" value={{ contactInformation }}>
  </div>
   <div class="form-group">
    <label>Location Preference 1</label>
    <input type="text" class="form-control" placeholder="Location Preference 1" name="locationPreference1">
  </div>
  <div class="form-group">
    <label for="locationpref">Select Location</label>
    <select multiple class="form-control" id="locationpref">
      <option value="newyork">New York</option>
      <option value="newjersey">New Jersey</option>
      <option value="connecticut">Connecticut</option>
      <option value="baltimore">Baltimore</option>
      <option value="chicago">Chicago</option>
    </select>
  </div>
 
   <div class="form-group">
    <label>Budget Preference</label>
    <input type="text" class="form-control" placeholder="Budget Preference" name="budgetPreference" value={{ budgetPreference }} >
  </div>
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Username" name="user_id" value={{ user_id }}>
  </div>
   <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Email" name="email" value={{ email }}>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password" value={{ password }}>
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password2" value={{ password2 }}>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>