<h2 class="page-header">Register</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<form method="post" action="/users/register">
   <div class="form-group">
    <label>Full Name</label>
    <input type="text" class="form-control" placeholder="Name" name="name" value={{ user.name }}>
  </div>
  <div class="form-group">
    <label>Gender</label>
    <select class="custom-select form-control" name="gender">
      {{#multiselect user.gender}}
        <option value="M">Male</option>
        <option value="F">Female</option>
      {{/multiselect}}
    </select>
  </div>
  <div class="form-group"> <!-- Date input -->
    <label>Date of Birth</label>
        <input class="form-control" id="dob" name="dob" placeholder="MM/DD/YYY" type="text"/>
  </div> 
  <div class="form-group">
    <label>Location</label>
    <input type="text" class="form-control" placeholder="Location" name="location" value={{ user.location }}>
  </div>
  <div class="form-group">
    <label>Occupation</label>
    <input type="text" class="form-control" placeholder="Occupation" name="occupation" value={{ user.occupation }}>
  </div>
  <div class="form-group">
    <label>Orientation</label>
    <select class="custom-select form-control" name="orientation">
      {{#multiselect user.orientation}}
      <option value="s">Straight</option>
      <option value="g">Gay</option>
      <option value="l">Lesbian</option>
      {{/multiselect}}
    </select>
  </div>
  <div class="form-group">
    <label>Contact Information</label>
    <input type="text" class="form-control" placeholder="Contact Information" name="contactInformation" value={{ user.contactInformation }}>
  </div>
  
  <div class="form-group">
    <label for="locationpref">Location Preference</label>
    <select multiple class="form-control" id="locationpref" name="locationpref">
      {{#multiselect user.locationpref}}
      {{#each locations}}
          <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
      {{/multiselect}}
    </select>
  </div>
  <div class="form-group">
    <label>Budget Preference</label>
    <select class="custom-select form-control" name="budgetPreference" >
        {{#multiselect user.budget}}
          {{#each budgetranges}}
            <option value="{{this.id}}">{{this.range}}</option>
          {{/each}}
        {{/multiselect}}  
    </select>
  </div>
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Username" name="user_id" value={{ user.user_id }}>
  </div>
   <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Email" name="email" value={{ user.email }}>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password" value={{ user.password }}>
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password2" value={{ user.password2 }}>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
 
</form>